.a-cont {
    display: grid;
    position: absolute;
    width: 100dvw;
    max-width: 100dvw;

    justify-content: center;
    align-items: center;
    align-content: start;
    position: relative;
}

.a-cont-inner {
    width: 60dvw;
    display: grid;
    gap: 4em;
    margin-top: 4em;
}

.a-top {
    display: flex;
    gap: 2em;
    background-color: var(--col-1);
    justify-content: space-between;
}

.a-top-left {
    height: 300px;
}

.BK-img {
    width: auto;
    height: 100%;
    border-radius: 3px;
}

.a-text {
    font-size: var(--fs-small);
    line-height: 1.5;
}

.a-top-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.a-bottom {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-bottom: 4em;
}

.a-email {
    background-color: var(--col-2);
    border-radius: 5px;
    color: var(--col-1);
    padding-inline: 1em;
    padding-block: .5em;
    cursor: pointer;
}

.a-icons {
    display: flex;
    gap: 1em;
    align-items: center;

    a {
        border-radius: 8px;
        background-color: black;
        transition: width 0.3s ease;
        width: 70px;
        height: 80px;
        display: grid;
        place-items: center;
        padding-left: 10px;
        justify-content: start;
        position: relative;
        z-index: 0;
        
        &:hover {
            width: 130px;
            
            &::after {
                content: 'open_in_new';
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 10px;
                color: var(--col-1);
                opacity: 1;
                z-index: -1;
                font-weight: bold;
                font-size: var(--fs-medium);
            }
        }
    }
}

.a-icon {
    height: 60px;
    width: auto;
}

.a-bottom-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}