:root {
    --col-1: white;
    --col-2: black;
    --col-3: #5b0a09;
    --fs-big: 5.5rem;
    --fs-medium: 2.8rem;
    --fs-small:1.5rem;
}

* {
    padding: 0;
    margin: 0;
}

.subtitle {
    font-size: var(--fs-small);
}

body {
    height: 100dvh;
    width: 100dvw;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
    position: fixed;
    opacity: 0.4;
    z-index: 1;
    color: black;
    background-color: var(--col-1);
    width: 100%;
    overflow: hidden;
    display: grid;
    align-content: center;
    padding-block: 1.5em;
    top: 0px;

    & span {
        font-size: var(--fs-small);
        text-transform: uppercase;
    }

    & h1 {
        font-size: var(--fs-big);
    }
}

.navdiv {
    justify-self: center;
    display: grid;
    align-items: center;
    justify-items: center;
    transition-timing-function: ease-out;
    transition-duration: .3s;
    cursor: pointer;
    user-select: none;
    transform: scale(1);

    &:hover {
        transform: scale(1.02);
    }
}

.subtitle {
    cursor: unset;
}

.cont {
    display: grid;
    gap: .2em;
    position: absolute;
    width: 100dvw;
    background-color: var(--col-1);
    z-index: 0;

    transition: grid-template-columns 1s ease-in-out;

    &:not(.hovering-left,.hovering-right) {
       grid-template-columns: 1fr 1fr;
    }

    &.hovering-left {
        grid-template-columns: 3fr 2fr;
    }
    &.hovering-right {
        grid-template-columns: 2fr 3fr;
    }
}

.left {
    background-color: var(--col-2);
}

.right {
    background-color: var(--col-2);
}

.left, .right {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.h-logo-large {
    & img {
        height: 120px;
        width: 120px;
        border-radius: 50%;
    }
}

.left-img, .right-img {
    opacity: 0.12;
}

.left-text, .right-text {
    position: absolute;
    top: calc(50% - 26px);
    color: var(--col-1);
    font-size: var(--fs-medium);
}

.left-text {
    left: calc(50% - 72px);
}

.right-text {
    left: calc(50% - 119px);
}