:root {
    /* Not sure if vmin is used correctly here, but it helps make things work on really small screens (without me having to media query). */
    --fs-big: 12vmin;
    --fs-medium: 7vmin;
    --fs-small: 5vmin;
    --mat-symb: 10vmin !important;
}

body {
    overflow-x: hidden;
}

.navdiv {
    gap: .5em;
}

.d-elm {
    max-width: 80dvw;
}

.cont:not(.digital) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    &:not(.hovering-left,.hovering-right) {
        grid-template-columns: 1fr;
     }
}

.logo-large {
    display: none;
}

.nav-left {
    left: 1em;
    top: 1em;
    transform: translateY(-50%);
}

.nav-right {
    right: 1em;
    top: 1em;
}

.logo-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.left-img {
    transform: scale(1);
}

.event {
    width: 80dvw;
}

.event-desc {
    padding: 0em;
    padding-block-start: 2em;
    padding-inline: 1em;
}

.event-bottom {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    padding: 0;
}

.a-cont-inner {
    width: 90dvw;
    margin-top: 1em;
    gap: 4em;
}

.a-top {
    flex-direction: column;
}

.a-top-left {
    height: 80vmin;
}

.a-top-right {
    gap: 1.5em;
}

.a-bottom {
    gap: 1em;
}

.a-email {
    padding-block: 1em;
}