:root {
    /* Not sure if vmin is used correctly here, but it helps make things work on really small screens (without me having to media query). */
    --fs-big: 12vmin;
    --fs-medium: 8vmin;
    --fs-small: 5vmin;
    --mat-symb: 10vmin !important;
}

body {
    overflow: hidden;
}

.navdiv {
    gap: .5em;
}

.d-elm {
    max-width: 80dvw;
}

.cont:not(.digital) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

    &:not(.hovering-left,.hovering-right) {
        grid-template-columns: 1fr;
     }
}

.logo-large {
    display: none;
}

.nav-left {
    left: 1em;
    top: 1em;
    transform: translateY(-50%);
}

.nav-right {
    right: 1em;
    top: 1em;
}

.logo-small {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.left-img {
    transform: scale(1);
}