.traditional-cont{
    /* In typescript, height is set using window height - navbar height. */
    /* In typescript, 'top' is set using navbar height. */
    display: grid;
    position: absolute;
    width: 100dvw;
    max-width: 100dvw;
    grid-template-rows: auto;
    gap: 2em;
    margin-top: 4em;

    justify-content: center;
    align-items: center;
    align-content: start;
    position: relative;
}

.t-elm {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 60dvw;
    padding: 1.5em;
    border-radius: 3px;
    cursor: pointer;
    background-color: var(--col-2);
    color: var(--col-1);
    overflow: hidden;
    opacity: 1;
    transform: scale(1);

    transition: opacity 0.3s ease-in-out, border-radius 0.1s ease-in-out, transform 0.1s ease-out;
    user-select: none;

    font-size: var(--fs-medium);

    &:hover {
        transform: scale(1.02);
        opacity: .6;
        border-radius: 8px;
    }
}